* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 1px;
    @media (max-width: 1200px) {
        font-size: 0.7px;
    }
}

.container {
    max-width: 1120rem;
    margin: 0 auto;

}

body {
    background-color: var(--light-green);
    display: flex;
    justify-content: center;
    font: var(--text-font);
    color: var(--Base-Black);
}


.heading {
    margin: 10rem 10rem 0 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30rem;
    @media (max-width: 768px) {
        flex-direction: column;
        gap: 5px;
    }
}

.categories__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20rem;
    margin: 0 auto;

    @media (max-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
        max-width: 90%;
    }
    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        max-width: 90%;
    }
    @media (max-width: 480px) {
        grid-template-columns: repeat(2, 1fr);
        max-width: 90%;
    }
}

.chartdiv{
    margin: 0 auto;
    width: 100%;
    height: 500rem;
    @media (max-width: 1000px) {
        width: 75%;
        height: 375px;
    }
}

.card {
    display: flex;
    flex-direction: column;
    border: 3rem solid black;
    border-radius: 50rem;
    justify-content: center;
    align-items: center;
    padding: 10rem;
}

.card__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50rem;
    height: 50rem;
}

.salary__add,
.salary__status,
.waist__add {
    display: flex;
    flex-direction: row;
    padding: 10rem;
    margin: 20rem;
    gap: 20rem;
    justify-content: center;
    align-items: center;
    border: 3rem solid black;
    border-radius: 50rem;
}

.card:hover {
    background-color: var(--green);
}

.active {
    background-color: var(--green);
}

.form-popup {
    display: none;
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    border: 3rem solid var(--dark-green);
    background: var(--Base-White);
    padding: 50rem;
    z-index: 9;
    border-radius: 50rem;

}

.form-container{
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

.actions{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    padding: 20rem;
    gap: 20rem;
}