button {
    border: 2rem solid black;
    border-radius: 50rem;
    padding: 15rem 40rem;
    color: var(--dark-green);
    font-weight: bold;
    cursor: pointer;
}

input{
    border: 2rem solid black;
    border-radius: 50rem;
    padding: 15rem 10rem;
    color: var(--dark-green);
    font-weight: bold;
}

.open-button{
    background: transparent;
    padding: 18rem 40rem;
    justify-content: center;
    align-items: center;
    border: 3rem solid black;
    border-radius: 50rem;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
}